/* CSS for Rock Paper Scissors game */

@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Shadows+Into+Light&display=swap');

html {
  font-family: 'Shadows Into Light', cursive;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

header {
  font-size: 60rem;
  font-family: 'Barriecito', cursive;
  text-align: center;
  padding: 20px;
}

p {
  text-align: center;
  padding: 20px;
}

h2 {
  padding: 20px;
  font-family: 'Barriecito', cursive;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-flow: wrap;
}

.buttons button {
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
}

.rounds {
  display: flex;
  gap: 20px;
}

.scoreBox {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.score {
  display: flex;
  gap: 20px;
}

#results {
  font-weight: bold;
  font-family: 'Barriecito', cursive;
}

#restart {
  display: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  font-family: 'Barriecito', cursive;
  font-size: 18rem;
}

footer {
  text-align: center;
  padding: 20px;
}

footer img:hover {
  transform: rotate(360deg);
  transition: 1s;
}
